* {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: -15px;
    box-sizing: border-box;
}

body {
    background-color: #50b2e3;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 0.5;
}

input, button {
    font-size: 18px;
    padding: 10px 15px; 
    border-radius: 1px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    appearance: none;
}

button {
    cursor: pointer;
    background-color: #00f2f6;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0480df;
}

.contenedor-principal {
    max-width: 900px;
    width: 90%; 
    margin: 0 auto;
}

@media (max-width: 768px) {
    .contenedor-principal {
        width: 95%;
    }
    body {
      padding: 10px;
    }
    input, button {
      padding: 8px 12px;
    }
}